@import './utils/variables';
@import './components/type';

// $ff--Orbitron: 'Orbitron';
// $ff--Space-Grotesk: 'Grotesk spatial';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

.body{
    background-color: $color-dark-blue;
    overflow: hidden;
}

.text{
    line-height: $line-height;
    font-family: $text-font;
    color: $color-yellow;
}

.wrapper{
    max-width: 95%;
    margin: 0 auto;
}

.title{
    font-family: $title-font;
    font-weight: 500;
    font-size: $h1-size;
    color: $color-yellow;
    margin: $space-p 0 0;
}

.presentation{
    display: none;
}

.data{
    font-family: $main-font;
    color: $color-white;

    &__slider{
        display: none;
        margin-left: 20px;
        width: 100%;

        &--show{
            display: block;
        }
    }

    &__input{
        width: 100%;

        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 5px;
        background: $color-yellow;
        border-radius: 0px;
        cursor: pointer;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;

            // width: 5px;
            // height: 20px;
            // background: $color-red;

            width: 25px;
            height: 25px;
            background-image: url('../assets/images/alien.png');
            background-size: cover;

            border-radius: 0px;
            cursor: pointer;

            &:hover{
                // background: $color-red-darky;
                transform: scale(1.2);
            }
        }
    }

    &__date{
        position: relative;
        display: inline;
        font-size: $p-size;
    }

    &__app{
        margin: $space-p 0;
    }

    .test{
        display: flex;
        justify-content: space-around;
        padding-top: 5px;
    }

    &__map{
        min-width: 25%;
        width: 35%;
        max-width: 60%;
        // margin: 0 auto;

        box-shadow: -5px 0 0 0 $color-yellow, 5px 0 0 0 $color-yellow, 0 -5px 0 0 $color-yellow, 0 5px 0 0 $color-yellow;
        padding: 20px;
        position: relative;
    }

    &__zoom{
        position: absolute;
        top: 44px; left: 44px;

        .zoom__el{
            width: 22px;
            height: 22px;
            background: $color-dark-blue;
            box-shadow: -3px 0 0 0 $color-yellow, 3px 0 0 0 $color-yellow, 0 -3px 0 0 $color-yellow, 0 3px 0 0 $color-yellow;
            border: none;
            margin: 0 20px 0 0;
            cursor: pointer;

            transition: .1s ease-in-out;

            &:hover{
                background-color: $color-yellow;
            }

            &:active{
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }

            &--random{
                width: 100%;
                height: 100%;
                margin-top: 20px;
                font-size: $p-size;

                &:hover{
                    color: $color-dark-blue;
                }
            }
        }
    }

    &__country{
        cursor: pointer;
        fill: $color-yellow;

        &:hover{
            fill: $color-red-darky;
        }

        &:active{
            -webkit-transform: scale(1.002);
            transform: scale(1.002);
        }

        &--active{
            fill: $color-red-darky;
        }
    }

    &__allcontent{
        width: 25%;
        height: 50%;
    }

    &__inputs{
        display: flex;
        justify-content: space-between;
        margin-top: $space-p;
    }

    &__selector{
        display: flex;
        flex-direction: row;

        label{
            margin-right: 15px;
        }
    }

    &__checkbox{
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: $p-size;
        height: $p-size;
        border-radius: 0px;
        background-color: $color-dark-blue;
        box-shadow: -3px 0 0 0 $color-yellow, 3px 0 0 0 $color-yellow, 0 -3px 0 0 $color-yellow, 0 3px 0 0 $color-yellow;

        transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);

        position: relative;

        display: flex;
        flex-direction: row;


        &:checked::before{
            content: "";
            width: $p-size;
            height: $p-size;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-yellow-lighty;
        }

        &:hover{
            background-color: $color-yellow-lighty;
            cursor: pointer;
        }

        &:active{
            transform: scale(1.1);
        }
    }

    &__content{
        // padding: 14px 20px;
        // box-shadow: -5px 0 0 0 $color-yellow, 5px 0 0 0 $color-yellow, 0 -5px 0 0 $color-yellow, 0 5px 0 0 $color-yellow;
        font-size: $p-size;
        // margin-top: $space-p;

        display: none;

        &--show{
            display: block;
        }
    }

    &__list{
        margin-top: 200px;
        padding: 0;
        list-style: none;
        display: none;

        &--show{
            display: flex;
            justify-content: space-between;
        }
    }

    &__el{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 10px;
    }

    &__important{
        color: $color-red-darky;
        font-size: $h3-size;
    }

    &__title{
        font-family: $text-font;
        font-size: $h2-size;
        margin-bottom: 20px;
    }

    &__text{
        font-family: $text-font;
        font-size: $p-size;
    }

    &__buttons{
        margin-top: $space-p;
    }

    &__picto{
        width: 10px;

        &--back{
            margin-right: 20px;
            width: 20px;
        }
    }

    &__btn{
        cursor: pointer;
        border: none;
        box-shadow: -5px 0 0 0 $color-yellow, 5px 0 0 0 $color-yellow, 0 -5px 0 0 $color-yellow, 0 5px 0 0 $color-yellow;
        padding: $p-mini-size $p-size;
        background-color: $color-dark-blue;
        font-family: $main-font;
        font-size: $p-size;
        color: $color-yellow;
        margin: 0 $space-p 0 0;
        transition: .1s ease-in-out;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover{
            background-color: $color-yellow;
            color: $color-dark-blue;
        }

        &:active{
            transform: scale(1.1);
        }
    }

    &__back{
        margin-top: $space-p;
    }
}


.tooltip{
    position: fixed;
    background-color: $color-grey-opacity;
    box-shadow: -3px 0 0 0 $color-grey-opacity, 3px 0 0 0 $color-grey-opacity, 0 -3px 0 0 $color-grey-opacity, 0 3px 0 0 $color-grey-opacity;
    font-size: $p-mini-size;
    color: $color-white;
    // text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    padding: 5px 7px;
    pointer-events: none;
    display: none;
}