@import './utils/variables';
@import './components/type';

// $ff--Orbitron: 'Orbitron';
// $ff--Space-Grotesk: 'Grotesk spatial';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

.body{
    background-color: $color-dark-blue;
    overflow: hidden;
}

.text{
    line-height: $line-height;
    font-family: $text-font;
    color: $color-yellow;
    margin-bottom: $inter-p;

    &--last{
        margin-bottom: 0;
    }
}

.wrapper{
    max-width: 95%;
    margin: 0 auto;
}

.presentation{
    width: 58%;
    margin: 0 auto;

    &--hide{
        display: none;
    }

    &__content{
        margin-top: $space-h1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title{
        font-family: $text-font;
        font-weight: 100;
        font-size: $h1-ultrasize;
        color: $color-yellow;
        margin: $space-p 0 $space-h3;
    }

    &__text{
        font-family: $text-font;
        font-size: $h3-size;
        color: $color-yellow;
    }

    &__btn{
        cursor: pointer;
        border: none;
        box-shadow: -5px 0 0 0 $color-yellow, 5px 0 0 0 $color-yellow, 0 -5px 0 0 $color-yellow, 0 5px 0 0 $color-yellow;
        padding: $p-mini-size $p-size;
        background-color: $color-dark-blue;
        font-family: $main-font;
        font-size: $p-size;
        color: $color-yellow;
        margin: $space-h2 0 0 0;
        transition: .1s ease-in-out;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover{
            background-color: $color-yellow;
            color: $color-dark-blue;
        }

        &:active{
            transform: scale(1.1);
        }
    }
    
}

.data{
    font-family: $main-font;
    color: $color-white;

    display: none;

    &--show{
        display: block;
    }

    &__slider{
        // display: none;
        opacity: 0.2;
        margin-left: 20px;
        width: 100%;

        &--show{
            // display: block;
            opacity: 1;
        }
    }

    &__input{
        width: 100%;

        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 5px;
        background: $color-yellow;
        border-radius: 0px;
        cursor: pointer;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;

            // width: 5px;
            // height: 20px;
            // background: $color-red;

            width: 25px;
            height: 25px;
            background-image: url('../assets/images/shapes/diamond.svg');
            background-size: cover;

            border-radius: 0px;
            cursor: pointer;

            &:hover{
                // background: $color-red-darky;
                transform: scale(1.2);
            }
        }
    }

    &__date{
        position: relative;
        display: inline;
        font-size: $h3-size;
        font-family: $text-font;
    }

    &__app{
        padding: calc($space-p/1.5) 0;
    }

    .test{
        display: flex;
        justify-content: space-around;
    }

    &__map{
        min-width: 25%;
        width: 35%;
        max-width: 60%;
        // margin: 0 auto;

        box-shadow: -5px 0 0 0 $color-yellow, 5px 0 0 0 $color-yellow, 0 -5px 0 0 $color-yellow, 0 5px 0 0 $color-yellow;
        padding: 20px;
        position: relative;

        overflow: hidden;

        svg {
            transform-origin: center;
            transform: scale(1) translate(0px, 0px);
            transition: 0s;
            cursor: grab;
        }
    }

    &__zoom{
        position: absolute;
        top: 44px; left: 44px;

        .zoom__el{
            width: 22px;
            height: 22px;
            background: $color-dark-blue;
            box-shadow: -3px 0 0 0 $color-yellow, 3px 0 0 0 $color-yellow, 0 -3px 0 0 $color-yellow, 0 3px 0 0 $color-yellow;
            border: none;
            margin: 0 20px 0 0;
            cursor: pointer;

            transition: .1s ease-in-out;

            &:hover{
                background-color: $color-yellow;
            }

            &:active{
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }

            &--random{
                width: 100%;
                height: 100%;
                margin-top: calc($space-p/2);
                font-size: $p-size;

                -webkit-transform: scale(1.05);
                transform: scale(1.05);

                &:hover{
                    color: $color-dark-blue;
                }
            }
        }
    }

    &__country{
        cursor: pointer;
        fill: $color-yellow;

        &:hover{
            fill: $color-red-darky;
        }

        &:active{
            -webkit-transform: scale(1.002);
            transform: scale(1.002);
        }

        &--active{
            fill: $color-red-darky;
        }
    }

    &__allcontent{
        width: 45%;
        // height: 50%;
        position: relative;
    }

    &__inputs{
        display: flex;
        justify-content: space-between;
        margin-top: $space-p;
    }

    &__selector{
        display: flex;
        flex-direction: row;

        label{
            margin-right: 15px;
        }
    }

    &__checkbox{
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: $p-size;
        height: $p-size;
        border-radius: 0px;
        background-color: $color-dark-blue;
        box-shadow: -3px 0 0 0 $color-yellow, 3px 0 0 0 $color-yellow, 0 -3px 0 0 $color-yellow, 0 3px 0 0 $color-yellow;

        transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);

        position: relative;

        display: flex;
        flex-direction: row;


        &:checked::before{
            content: "";
            width: $p-size;
            height: $p-size;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-yellow-lighty;
        }

        &:hover{
            background-color: $color-yellow-lighty;
            cursor: pointer;
        }

        &:active{
            transform: scale(1.1);
        }
    }

    &__content{
        font-size: $p-size;
        margin-top: $space-h1;

        display: none;

        &--show{
            display: block;
        }
    }

    &__list{
        margin: $space-p 0;
        padding: 0;
        list-style: none;
        display: none;

        &--show{
            display: flex;
            justify-content: space-between;
        }
    }

    &__el{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: calc($space-p/4);
    }

    &__important{
        color: $color-red-darky;
        font-size: $h2-size;
        font-family: $text-font;
    }

    &__title{
        font-family: $text-font;
        font-size: $h1-ultrasize;
        margin-bottom: calc($space-p/2);
        font-weight: 100;
    }

    &__text{
        font-family: $text-font;
        font-size: $p-size;
    }

    &__picto{
        width: 10px;

        &--back{
            // margin-right: 20px;
            width: 40px;
        }
    }

    &__butn{
        cursor: pointer;
        border: none;
        // box-shadow: -5px 0 0 0 $color-yellow, 5px 0 0 0 $color-yellow, 0 -5px 0 0 $color-yellow, 0 5px 0 0 $color-yellow;
        // padding: $p-mini-size $p-size;
        background-color: $color-dark-blue;
        font-family: $main-font;
        font-size: $p-size;
        color: $color-yellow;
        transition: .1s ease-in-out;

        // display: flex;
        // justify-content: center;
        // align-items: center;

        // &:hover{
        //     background-color: $color-yellow;
        //     color: $color-dark-blue;
        // }

        &:active{
            transform: scale(1.1);
        }
    }

    &__back{
        margin-top: $space-p;
        position: fixed;
        top: -30px;
        left: 15px;
        // box-shadow: -5px 0 0 0 $color-yellow, 5px 0 0 0 $color-yellow, 0 -5px 0 0 $color-yellow, 0 5px 0 0 $color-yellow;
        // border: none;
        // background-color: $color-dark-blue;
    }
}

.funfact{
    position: absolute;
    bottom: 0; right: 25%; left: 0;


    &__btn{
        cursor: pointer;
        border: none;
        box-shadow: -5px 0 0 0 $color-yellow, 5px 0 0 0 $color-yellow, 0 -5px 0 0 $color-yellow, 0 5px 0 0 $color-yellow;
        padding: $p-mini-size $p-size;
        background-color: $color-dark-blue;
        font-family: $main-font;
        font-size: $p-size;
        color: $color-yellow;
        margin: $space-p 0 0 0;
        transition: .1s ease-in-out;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover{
            background-color: $color-yellow;
            color: $color-dark-blue;
        }

        &:active{
            transform: scale(1.1);
        }
    }

    &__content{
        box-shadow: -3px 0 0 0 $color-yellow, 3px 0 0 0 $color-yellow, 0 -3px 0 0 $color-yellow, 0 3px 0 0 $color-yellow;
        margin-top: $space-p;
        padding: 20px;
        font-family: $text-font;
    }

    &__title{
        font-size: $h2-size;
        font-weight: 100;
        margin-bottom: calc($space-p/2);
    }

    &__text{
        font-size: $p-size;
        line-height: $line-height;
    }
}

.shapes{

    &__list{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: calc($space-p/2);
    }

    &__el{
        flex-basis: calc(5% - calc($space-p/2));
    }

    &__btn{
        border: none;
        width: 44px;
        height: 44px;
        box-shadow: -3px 0 0 0 $color-yellow, 3px 0 0 0 $color-yellow, 0 -3px 0 0 $color-yellow, 0 3px 0 0 $color-yellow;
        background-color: $color-dark-blue;
        cursor: pointer;
        padding: calc($space-p/8);

        &:hover{
            background-color: $color-yellow;
        }

        &:active{
            transform: scale(1.1);
        }

        &--active{
            background-color: $color-yellow;
        }
    }
}

.tooltip{
    position: fixed;
    background-color: $color-grey-opacity;
    box-shadow: -3px 0 0 0 $color-grey-opacity, 3px 0 0 0 $color-grey-opacity, 0 -3px 0 0 $color-grey-opacity, 0 3px 0 0 $color-grey-opacity;
    font-size: $p-mini-size;
    color: $color-white;
    padding: 5px 7px;
    pointer-events: none;
    display: none;
}

.test1{
    margin: $space-h3 0;
    border: none;
    background-color: $color-yellow;
    height: 5px;
}